
.form-group {
  border-top: 0;
  border-bottom: 0;
  display: block ruby;
  border-left: 1px black solid;
  border-right: 1px black solid;
  text-align: center;
}
input[type=text] {
  width: 30%;
  padding: 8px 14px;
  margin: 2px;
  box-sizing: border-box;
}
button {
  font-size: 12px;
  margin: 2px;
  padding: 8px 14px;
}
.form-control.ng-valid:not(form)  {
  margin-left: 12px;
  border-left: 5px solid #42A948; /* green */
}

.form-control.ng-invalid:not(form)  {
  margin-left: 12px;
  border-left: 5px solid #a94442; /* red */
}
