<div style="margin: 15px">
  <div style="display: flex">
    <a [routerLink]="['add']" [queryParams]="{debug: true}" queryParamsHandling="merge">
      Create Task
    </a>
    <mat-form-field appearance="fill" class="example-form-field">
      <mat-label> -Sorting- </mat-label>
      <mat-select [formControl]="sortOrderControl">
        <mat-option value="">-select-</mat-option>
        <mat-option value="id-by-desc">Id By Desc</mat-option>
        <mat-option value="id-by-asc">Id By Asc</mat-option>
        <mat-option value="name-by-desc">Name By Desc</mat-option>
        <mat-option value="name-by-asc">Name By Asc</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Search By Name</mat-label>
      <input matInput type="text" [formControl]="searchKey">
      <button  matSuffix mat-icon-button aria-label="Clear" (click)="searchByName()" >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div class="example-form-field">
      <mat-paginator
        [length]="totalRecords"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 15]"
        [pageIndex]="pageIndex"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
    </div>
  </div>

<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Username</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let task of tasks">
      <th scope="row">{{ task.id }}</th>
      <td>
        {{ task.username }}
      </td>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.is_done }}</td>
      <button color="primary" [routerLink]="['details']" [queryParams]="{id:task.id}" class="btn btn-primary">view</button>
      <button color="primary" type="submit" class="btn btn-primary" (click)="deleteTask(task.id)">delete</button>
    </tr>
    </tbody>

  </table>

</div>
